@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Silk Serif';
    src: local('Silk Serif Regular'), local('Silk-Serif-Regular'),
        url('https://static.mused.org/assets/fonts/SilkSerif-Regular/SilkSerif-Regular.woff2') format('woff2'),
        url('https://static.mused.org/assets/fonts/SilkSerif-Regular/SilkSerif-Regular.woff') format('woff'),
        url('https://static.mused.org/assets/fonts/SilkSerif-Regular/SilkSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Staff';
    src: local('Staff'),
        url('https://static.mused.org/assets/fonts/Staff/Staff-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Staff Light';
    src: local('Staff Light'),
        url('https://static.mused.org/assets/fonts/Staff/Staff-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
@font-face {
    font-family: 'Staff Medium';
    src: local('Staff Medium'),
        url('https://static.mused.org/assets/fonts/Staff/Staff-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

:root {
  --primary-color: #87806C;
  --secondary-color: #666256;
  --light-color: #F2EEEA;
  --accent-color: #959A92;
  --theme-color-100: #F2EEEA;
  --theme-color-200: #E4E1D9;
  --theme-color-gray: #C7C7C7;
  --theme-color-500: #87806C;
  --theme-color-700: #666256;
  --theme-color-800: #353431;
  --theme-color-900: #1A1919;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
/*    overscroll-behavior-y: contain;*/
  background: var(--theme-color-900);
}

h1, h2, h3, h4, h5 {
  font-family: "Silk Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 100;
}


.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.tour-action-button label {
  opacity: 0.9;
}

.tour-action-button svg {
  opacity: 0.9;
}

.tour-action-button:hover label {
  opacity: 1;
}

.tour-action-button:hover svg {
  opacity: 1;
}

.tour-action-button.info-button svg {
  color: var(--theme-color-100);
  background: rgb(242 238 234 / 30%);
  transition: all ease-in-out 300ms;
}

.tour-action-button.info-button:hover svg {
  color: var(--theme-color-500);
  background: rgb(242 238 234 / 100%);
}

#info_modal hr {
  width: 100%;
  opacity: 0.7;
  transition: width ease-in-out 1000ms;
}

#info_modal.hidden hr {
  width: 10%;
}

.guided-action-button svg {
  border-radius: 100%;
}


body.quiet-mode .guided-action-button  {
  opacity: 0;
}

.prev-next-buttons  {
  opacity: 0;
}
body.quiet-mode .prev-next-buttons  {
  opacity: 1;
}

@media (max-width:600px ) {
  .guided-action-button label {
    font-size: 9px;
  }
}

/* body.quiet-mode .guided-action-button:hover label {
  opacity: 1;
} */

body.quiet-mode nav#mainNav a {
  opacity: 0;
}


.cover-text-content {
  transition: all ease-in-out 300ms;
  transform:
    perspective(750px)
    translate3d(0px, 0px, -30px);
  opacity: 1;
}

.cover-text-gradient {
  transition: all ease-in-out 300ms;
}

.cover-text.scroll-text-post .cover-text-content {
  opacity: 0;
  transform:
    perspective(750px)
    translate3d(0px, 0px, 30px);
}

.cover-text.scroll-text-post .cover-text-gradient {
  opacity: 0;
}

/* .introtext {
  transform:
    perspective(750px)
    translate3d(0px, 0px, -250px)
    rotateX(27deg)
    scale(0.9, 0.9);
  transition: 0.4s ease-in-out transform;

  &:hover {
    transform: translate3d(0px, 0px, -250px);
  }
} */


@media (max-height:990px) {
  .cover-text-content-inner {
    padding-top: 8rem !important;
  }

  .cover-text-content-inner p {
    margin: 2rem 0;
  }
}

@media (max-height:760px) {
  .cover-text-content-inner {
    padding-top: 6rem !important;
  }

  .cover-text-content-inner p {
    margin: 1rem 0;
  }
}

@media (max-height:660px) {
  .cover-text-content-inner p {
    display: none;
  }
}

@media (max-height:600px) {
  .cover-text-content-inner {
    padding-top: 5rem !important;
  }
  .cover-text-content-inner h1 {
    font-size: 3.5rem;
  }
}



@-webkit-keyframes scroll-indicator {
  0% {
    opacity: 0;
    top: -6px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 6px;
  }
}

@keyframes scroll-indicator {
  0% {
    opacity: 0;
    top: -12px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 12px;
  }
}

.scroll-indicator {
  -webkit-animation: scroll-indicator 2s infinite;
  animation: scroll-indicator 2s infinite;
}

.tour-annotation {
  transition: opacity 300ms ease-in-out;
}

[multiple]:focus, [type=date]:focus, [type=email]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, select:focus, textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: var(--theme-color-100);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
    border-color: var(--theme-color-100);
}

.mailchimp-email-signup {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--theme-color-200);
}
.mailchimp-email-signup::placeholder {
  color:rgba(255, 255, 255, 0.7);
}
.mailchimp-email-signup[type=email]:focus
input.mailchimp-email-signup:focus {
  border: none !important;
  outline: none !important;
  border-bottom: 2px solid var(--theme-color-100) !important;
}

@media (max-height:550px) {
  .sm\:hidden {
    display: none;
  }
  .sm\:block {
    display: block;
  }
}



@keyframes hieroGlow {
  0% {
    text-shadow: 0 0 10px rgba(242, 238, 234,.8),
                 0 0 20px rgba(242, 238, 234,.8),
                 0 0 22px  rgba(242, 238, 234,.8),
                 0 0 40px  rgba(228, 225, 217,.8),
                 0 0 60px  rgba(228, 225, 217,.8),
                 0 0 80px  rgba(228, 225, 217,.5),
                 0 0 100px rgba(228, 225, 217,.5),
                 0 0 140px rgba(228, 225, 217,.5),
                 0 0 200px rgba(228, 225, 217,.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(242, 238, 234,.8),
                 0 0 8px rgba(242, 238, 234,.8),
                 0 0 10px rgba(242, 238, 234,.8),
                 0 0 20px rgba(228, 225, 217,.8),
                 0 0 30px rgba(228, 225, 217,.8),
                 0 0 40px rgba(228, 225, 217,.8),
                 0 0 50px rgba(228, 225, 217,.5),
                 0 0 80px rgba(228, 225, 217,.5);
  }
}


.hieroglyph {
  display: inline-block;
  height: 3.6rem;
  font-size: 3rem;
  opacity: .05;
  transition: opacity 2s ease 0.4s;

}

.hieroglyph:hover {
  transition: opacity 0.2s ease;
  opacity: .2;
  animation: hieroGlow 2s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

@-webkit-keyframes falseDoorLoading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes falseDoorLoading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}


#loading_falsedoor {
  -webkit-animation: falseDoorLoading 2s infinite;
  animation: falseDoorLoading 2s infinite;
  transition: all 500ms ease-in-out;
}

#mce-EMAIL::placeholder {
  opacity:0.6;
}

#mce-EMAIL.on-light-bg::placeholder {
  color: var(--theme-color-900);
  opacity:0.6;
}

.psv-overlay {
  z-index:1;
}

.tour-annotation-content {
  z-index:100;
}

.items-search-input {
  outline: none !important;
  border: none !important;
  outline-offset: none !important;
  --tw-ring-inset: none !important;
  --tw-ring-offset-width: none !important;
  --tw-ring-offset-color: none !important;
  --tw-ring-color: none !important;
  --tw-ring-offset-shadow: none !important;
  --tw-ring-shadow: none !important;
  --tw-ring-color: none !important;
  box-shadow: none !important;
  border-color: none !important;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 50px;
}
.lds-ellipsis div {
  position: absolute;
  top: 22px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 16px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 28px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}

.text-outline {
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #222;
}

.from-theme-900-opacity-80 {
  --tw-gradient-from: rgb(26, 25, 25, 0.8);
  --tw-gradient-to: transparent;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.text-right {
  text-align: right;
}

@media (max-height:850px) and (min-width:768px) {
  .small-browser-height-shrink-text span {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}

@media (max-height:680px) and (min-width:768px) {
  .small-browser-height-shrink-text span {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}


@keyframes split {
  0% {
    transform-origin: 50% 100%;
    transform: rotate3d(0.5, 1, 0, 180deg);
  }
  
  25% {
    transform-origin: 50% 100%;
    transform: rotate3d(0, 1, 0, 360deg);
  }
  
  50% {
    opacity: 0.7;
    transform-origin: 100% 0%;
    transform: rotate3d(0, 1, 0, 360deg);
  }
  
  75% {
    opacity: 0;
    transform: rotate3d(0.5, 1, 0, 180deg);
  }
  
  100% {
    opacity: 0.7;
    transform: rotate3d(0.5, 1, 0, 180deg);
  }
}


.stats-position {
  z-index: 1000; /* Set z-index to ensure it's above other elements */
  padding: 0.5rem;
}

.tour-point-text p {
  padding: 0.4rem 0;
}

.tour-point-text p:first-child {
  padding: 0.4rem 0 1rem;
}


@media (max-width:640px ) {

  .tour-point-text p:first-child {
    padding: 0.4rem 0;
  }
}


.accent-button {
  position:relative;
}

.accent-button::after {
  content: "";
  position: absolute;
  top: -5px;
  right: 10px;
  bottom: -5px;
  left: 10px;
  border: 1px solid white; /*var(--theme-color-800);*/
  pointer-events: none; /* Ignore mouse events on the pseudo-element */
  z-index: -1; /* Place it behind the button */
  transition: all ease-in-out 100ms;
}

.accent-button:hover::after {
  border: 1px solid white; 
  top:0;
  bottom:0;
}

.text-shadow {
  text-shadow: 0px 0px 5px #000; 
}

.text-shadow-light {
  text-shadow: 0px 0px 5px white; 
}


#loading-screen {
  opacity: 1; 
  transition: opacity 300ms ease-in-out;
}

#loading-screen.loading-hidden {
  opacity: 0;
  pointer-events: none;
}


#mp-showcase {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.tour-photograph {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  max-width: min(28rem, 40vw);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.35);
  transform: translateY(1.5rem);
  opacity: 0;
  transition: opacity 200ms ease, transform 200ms ease;
  z-index: 10;
}

.tour-photograph__image {
  display: block;
  width: 100%;
  height: auto;
}

.tour-photograph__caption {
  margin: 0;
  padding: 1rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.4;
}

.tour-photograph__caption--hidden {
  display: none;
}

.tour-photograph--hidden {
  opacity: 0;
  transform: translateY(1.5rem);
  pointer-events: none;
}

.tour-photograph:not(.tour-photograph--hidden) {
  opacity: 1;
  transform: translateY(0);
}

